* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 856px;
    margin: 0 auto;
}

.header_menu {
    width: 635px;
    margin: 0 auto;
}

.header_menu_item {
    display: inline-block;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.background {
    background-color: #00BDC9;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 82px 400px;
}

.no-margin {
    margin-right: 0px;
}

.title {
font-size: 48px;
font-weight: 600;
line-height: 64px;
text-align: center;
padding-top: 88px;
padding-bottom: 40px;

}

.text {
font-size: 21px;
font-weight: 500;
line-height: 31px;
color: black;
padding-bottom: 24px;

}

.list {
    font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: black;
margin-left: 16px;

}

.color {
font-size: 21px;
font-weight: 600;
line-height: 31px;
text-align: left;
color: #04959E;

}

.button {
    display: block;
    color: white;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 98px;
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 44px;
    background-color: #04959E;
    
}

.ol {
    width: 856px;
    height: 351px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

.end {
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;

}

.header_menu_link {
    font-family: Inter;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: black;
    text-decoration:none;
}
